<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <meta charset='utf-8'>
        <!--link rel='shortcut icon' type='image/ico' href='http://minfin.nkr.am/img/favicon.ico'-->
        <meta name='viewport' content='initial-scale=1.0, maximum-scale=2.0'>
        <title>Պետական Գնումների պլան</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <script src='angular.min.js'></script>
        <script src='data.json'></script>
        <script src='tabledata.json'></script>
        <script src='data.js'></script>
    </head>
    <body ng-app="Application" ng-controller="TreeController">
        <div class='container-fluid'>
            <h2>Պետության կարիքների համար 2015 թվականի իրականացվող գնումների պլան</h2>
            <div class='row'>
                <div class='col-xs-4' id='tree'>
                    <ul class="list-group"  >
                        <li class="list-group-item" ng-repeat="data in tree" ng-click="showme=true"&&"hideme=false"&&"text=data.text"> <span ng-if="data.nodes.length"class="glyphicon glyphicon-triangle-bottom"></span>
                        {{data.text}}
                        <ul  class="list-group" ng-if="data.nodes.length">
                            <li class="list-group-item" ng-repeat="item in data.nodes" ng-init ="hideme=true" ng-hide = "hideme" ng-show = "showme" >
                                {{item.text}}
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
                <div class='col-xs-8' id='demo'>
                    <table class='table table-bordered' id='example'>
                        <thead>
                            <tr>
                                <th ng-repeat="titles in head">
                                    {{titles.title}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
							<th colspan="6">{{tree[0].text}}
							</th>						
							<tr ng-repeat="data in table | filter : parent:'tree[0].text'">
							    <td ng-if="$index<6" ng-repeat="value in data.nodes">{{value[$index]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
